 
@model List<Product>
<partial name="_Notification" />
<div class="Container">
    <div class="row pt-4 pd-3">
        <div class="col-6">
            <h2 class="text-primary ">
                Product List
            </h2>
        </div>
        <div class="text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Author
                </th>
                <th>
                    ListPrice
                </th> 
                <th>
                    Category
                </th>

                 <th>
                    Action
                </th>
                @* <th>
                    Price50
                </th>
                <th>
                    Price100
                </th> *@
            </tr>
        </thead>
    </table>
</div>


@section Scripts{

<script src="~/js/Product.js"></script>
}